<div class="sixteen columns page_border fc_main" style="padding:0; margin-top:0;">
{% include 'sidebar-foodcourt-res' %}
<div class="twelve columns fc_main alpha omega" itemscope itemtype="http://data-vocabulary.org/Product">
   <div class="clearfix breadcrumb mobile_hidden">
    <div class="right">
      {% if collection.previous_product %}
        {% capture prev_url %}{{ collection.previous_product }}{% endcapture %}
        {{ 'products.general.previous_product_html' | t | link_to: prev_url }}
        {% if collection.next_product %}&nbsp; | &nbsp;{% endif %}
      {% endif %}

      {% if collection.next_product %}
        {% capture next_url %}{{ collection.next_product }}{% endcapture %}
        {{ 'products.general.next_product_html' | t | link_to: next_url }}
      {% endif %}
    </div>

    <div class="breadcrumb_text">
      <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ collections['food-court'].url }}" title="{{ collections['food-court'].name | escape }}" itemprop="url"><span itemprop="title">Food Court</span></a></span> 
      &nbsp; / &nbsp;
      <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        {% if collection %}
          <a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a>
        {% else %}
          <a href="/collections/all" title="{{ collections.all.title }}">{{ collections.all.title }}</a>     
        {% endif %}
      </span>
      &nbsp; / &nbsp;
      {% if product.type %}
          <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ product.type| handleize }}" title="{{ product.type | escape }}" itemprop="url"><span itemprop="title">{{ product.type | replace:',',' '}}</span></a></span>       
      {% endif %}
       &nbsp; / &nbsp;
      {{ product.title }}
    </div>
  </div>
   
  <div id="product-{{ product.id }}">
  {% assign variant = product.selected_or_first_available_variant %}
  <div class="section product_section clearfix">
  <div class="twelve columns alpha omega">
    <h1 class="product_name" itemprop="name">{{ product.title }}</h1>
    {% comment %}
    <p>{{ product.description | strip_html }}</p>
    {% endcomment %}
    {% assign info = product.description | strip_html |split:'--' %}
    <p>{{ info.first }}</p>
    <br />	
  </div>
  <div class="four columns omega">
      {% if variant.available == false %}
      <div>
      <span class="sold_out">{{ 'products.product.coming_soon' | t }}</span>
    	{% include 'product-notify-me' %}
      </div>
      {% else %}
    <div class="fc_price_bg" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
      <span itemprop="price" content="{{ variant.price | money_without_currency }}" class="fc_price">
        {{ variant.price | money }}
      </span> 
      {% include 'food-court-product-form' with 'product' %} 
      </div>
    <div class="discount_badge">
         <meta itemprop="currency" content="{{ shop.currency }}" />
         <meta itemprop="seller" content="{{ shop.name | escape }}" />
         <meta itemprop="availability" content="{% if product.available %}in_stock{% else %}out_of_stock{% endif %}" />      
        
      {% if variant.compare_at_price and variant.price < variant.compare_at_price %}
      	<span class="discount_title">Value</span>
      	<span class="discount_title">Discount</span>
      	<span class="discount_title">Save</span>
          <span class="sale">
          
            <span class="discount_value">
              {{ variant.compare_at_price | money }}
             </span>

         	<span class="discount_value">   
              {{ variant.compare_at_price | minus: variant.price | times:100 | divided_by:variant.compare_at_price }} %    
         	</span>
       		<span class="discount_value">   
              {{ variant.compare_at_price | minus: variant.price | money }} 
         	</span>
        </span>
      {% endif %}
    </div>
    {% endif %} 
	{% if product.variants.first.inventory_management == "shopify" and product.variants.first.inventory_quantity > 0 %}
      <div class="fc_itemleft">
       {% capture items_left_text %}
            {% if product.variants.first.inventory_quantity == 1 %}
              {{ 'products.product.items_left_count.one' | t }}
            {% else %}
              {{ 'products.product.items_left_count.other' | t }}
            {% endif %}
          {% endcapture %}

          <p><em>{{ product.variants.first.inventory_quantity }} {{ items_left_text }}</em></p>
        </div>
        {% endif %}

      {% include "social-buttons" with "product" %}  
      
     
    </div>  
  <div class="five columns">
         {% include 'product-images' %}
     </div> 
  <div class="three columns alpha">
       <div class="fc_notice">
          <h4 class="title">Condition</h4>
           <div class="section clearfix">
         <ul>
           {% comment %}
           {% for list in info %}
           {% unless forloop.first == true  %}<li>{{list}}</li>{% endunless %}
           {% endfor %}
           {% endcomment %}
          <li>As the requirement of our Food Court Suppliers, all the products from food court must be paid in advance.</li>
          <li>Your order will only be processed after payment has cleared.</li>
          <li>Only the order made before 10am can be pick up on the same day.</li>
          <li>Pick up time: 10am to 4pm </li>
          </ul>
           </div>  
       </div>  
     </div> 
  </div>
   
      <!-- Product Reviews Starts -->
      <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
      <!-- Product Reviews Ends -->
   
      
  </div>

  {% if settings.display_related_products %}
    {% capture limit %}{{ settings.products_per_row | plus: 1 }}{% endcapture %}

    {% if collection and collection.all_products_count > 1 %}
      {% assign col = collection.handle %}
    {% else %}
      {% assign col = product.collections.last.handle %}
    {% endif %}

    {% for tag in product.tags %}
      {% if tag contains 'meta-related-collection-' %}
        {% assign col = tag | remove: 'meta-related-collection-' %}
        {% assign collection = collections[col] %}
        {% capture limit %}{{ collection.products_count | plus: 1 }}{% endcapture %}
      {% endif %}
    {% endfor %}
      
    {% if col and collections[col].all_products_count > 1 %}
      <br class="clear" />
      <br class="clear" />
      <h4 class="title center">{{ 'products.product.related_items' | t }}</h4>

      {% assign skip_product = product %}
      {% assign products = collections[col].products %}
      {% assign products_per_row = settings.products_per_row %}
      {% include 'product-loop' with settings.product_sidebar %}
    {% endif %}
  {% endif %}
  
  <div class="twelve columns alpha omega fc_topline">
      {% assign restaurant_info = collection.description | split:"--" %}
      {% assign restaurant_address = restaurant_info[0] | strip  %}
      {% assign restaurant_map = restaurant_info[1] | strip "%}
    
    <div class="four columns omega fc_res_info">
      {{ collection.title }}
      {{ restaurant_address }}
    </div>
     <div class="four columns fc_res_info">
       <iframe src="{{ restaurant_map }}" width="100%" height="100%" frameborder="0" style="border:0"></iframe> 
    </div>
     <div class="four columns alpha fc_res_info">
       <strong>Condition</strong>
         <ul>
           {% comment %}
           {% for list in info %}
           {% unless forloop.first == true  %}<li>{{list}}</li>{% endunless %}
           {% endfor %}
           {% endcomment %}
          <li>As the requirement of our Food Court Suppliers, all the products from food court must be paid in advance.</li>
          <li>Your order will only be processed after payment has cleared.</li>
          <li>Only the order made before 10am can be pick up on the same day.</li>
          <li>Pick up time: 10am to 4pm </li>
          </ul>
  	</div>
</div>
  
  
  
  
  
  
</div>
  </div>
