<div class="sixteen columns page_border"> 
   	<div class="eight columns omega alpha fc_main">
    {% assign keywords = search.terms | split:":"%}
    {% assign keyword =  keywords.first | replace:"vendor","" | strip %} 
    {% assign vendor = keywords.last %}
    {% assign col = vendor | handle %}
    <label class="fc_main_label">
    {{ collections[col].title }}
    </label>
     {% for tag in collections[col].all_tags %}
      {% if tag contains "-" %}
        {% assign t = tag | handleize %}
      	<a href="{{ collections['food-court-res'].url | append:"/" |append:t }}" class="change_location">change restaurant</a>
      {% break %}
      {% endif %}
     {% endfor %}  
    </div>
</div>
<div class="sixteen columns page_border fc_main" style="padding:0">
<div class="four columns fc_main omega alpha">
  <div>
     Search:<input type="text" id="keyword" />
	<a class="action_button" id="ressearch">Search</a>
    <input type="hidden" id="col" value="{{ vendor }}">
  </div>
  <div class="mobile_only">    
  Menu:
   <select class="type">
           <option value="/collections/{{ col }}" selected>All</option> 
 		{% for product_type in collections[col].all_types %}
     		{% if current_tags contains product_type %}
     	    <option value="/collections/{{ col }}/{{ product_type | handleize }}" selected>{{ product_type }}</option> 
     		{% else %}
    		<option value="/collections/{{ col }}/{{ product_type | handleize }}">{{ product_type }}</option> 
     		{% endif %}
		{% endfor %}    
   </select>
  </div>
  <div class="mobile_hidden">   
   <h4>Menu</h4>
   <ul>   
      {% for product_type in collections[col].all_types %}
           <li><a href="/collections/{{col}}/{{ product_type | handleize }}" title="{{ product_type | escape }}">{{ product_type }}</a></li>
      {% endfor %}
  </ul>
</div>
</div>
  
<div class="twelve columns fc_main alpha omega" id="view">
  {% if search.results == empty %}
    <div class="clearfix">    
      <p class="quote no-result-found">{{ 'general.search.no_results_html' | t: terms:keyword }}</p>   
    </div>
  <!-- Case 2: Result found -->
  {% else %}
    <div class="clearfix collection_nav">
        <h1 class="collection_title {% if search.performed %}collection_title_tags{% endif %}">{{ 'general.search.title' | t }}</h1>
        {% if search.performed %}
          <ul class="collection_menu">
            <li>
              {{ 'general.search.results_count' | t: count: search.results_count }}
            </li>
          </ul>    
        {% endif %}
      </div>
      
      <!-- Show Products-->
      {% if settings.search_option == 'everything' or search.results.first.price == blank %}
        {% for item in search.results %}
          <div class="product_row">
            
            {% if item.featured_image %}
              <div class="four columns alpha">
                 <a href="{{ item.url }}" title="{{ item.title | escape }}">
                   <img src="{{ item.featured_image | product_img_url: 'large' }}"  alt="{{ item.title | escape }}" />
                 </a>
              </div> 
            {% endif %}
            
            {% if settings.collection_sidebar %}
              <div class="{% if item.featured_image %}eight{% else %}twelve{% endif %} columns omega align_left">
            {% else %}
              <div class="{% if item.featured_image %}twelve{% else %}sixteen{% endif %} columns omega align_left">
            {% endif %}        

              <p>
                <a href="{{ item.url }}" title="{{ item.title | escape }}">{{ item.title }}</a>
              </p> 

              {% if item.price %}
                 <div class="info">                                              
                    <span class="price">
                      {% if item.compare_at_price_max > item.price %}
                        <span class="was_price">{{ item.compare_at_price_max | money }}</span>
                      {% endif %}
                        
                      {% if item.available %}
                        {% if item.price_varies %}
                          {% if item.compare_at_price_max > item.price %}
                            <br />
                          {% endif %}
                          <small><em>{{ 'products.general.from' | t }}</em></small>
                        {% endif %}
                        {{ item.price_min | money }}
                      {% else %}
                        {{ item.price_min | money }} - {{ 'products.product.sold_out' | t }}
                      {% endif %}
                    </span>
                </div>
              {% endif %}
              
              <p>
                {{ item.content | strip_html | truncatewords: 40 | highlight: search.terms | replace: 'Description', '' | replace: 'Specs', '' | replace: 'Shipping', '' }}
              </p>         
            </div>
          </div>  
        <hr />  
       {% endfor %}  
      </div>
      {% else %}
          {% assign products = search.results %}
          {% assign products_per_row = settings.products_per_row %}
          {% include 'product-loop' with settings.collection_sidebar %}
      </div>
  {% endif %}
    {% endif %}
 </div>
</div>

