{% comment %}

  This snippet renders a custom widget based on the current 'paginate' context,
  defined in { % paginate XXXX by 5 % } tags wrapping the content.

  Replace Text Example:
    <div class="pagination">
      {{ paginate | default_pagination | replace: 'Previous', 'Newer articles' | replace: 'Next', 'Older articles' }}
    </div>

  More information:
   - http://docs.shopify.com/themes/liquid-variables/paginate

{% if paginate.pages > 1 %}  
  <div class="{% if pagination %}twelve{% else %}sixteen{% endif %} columns">
    <div class="section clearfix">    
      <div class="paginate">
        {{ paginate | default_pagination }}
      </div>  
    </div>
  </div>
{% endif %}

{% endcomment %}

<!-- new pagigantion -->
{% if paginate.pages > 1 %}

  <div class="section clearfix">
  <div class="paginate bottom">
    {% if paginate.previous %}
    <span class="prev mobile_hidden">{{ paginate.previous.title | link_to: paginate.previous.url }}</span>
    <span id="prev" class="paginate_bottom">{{ paginate.previous.title | link_to: paginate.previous.url }}</span> 
    {% else %}
      <span class="prev disabled mobile_hidden"><a href="#" onclick="return false;">{{ 'layout.pagination.previous_html' | t }}</a></span>
      <span class="disabled paginate_bottom" id="prev"><a href="#" onclick="return false;">{{ 'layout.pagination.previous_html' | t }}</a></span>
    {% endif %}
    
    {% for part in paginate.parts %}
      {% if part.is_link %}
        <span class="mobile_hidden">{{ part.title | link_to: part.url }}</span>
      {% else %}
        {% if part.title == '&hellip;' %}
        <span class="ellipsis mobile_hidden"><a href="#" onclick="return false;">{{ part.title }}</a></span>
        {% else %}
        <span class="current mobile_hidden">{{ part.title | link_to: part.url }}</span>
        {% endif %}
      {% endif %}
    {% endfor %}     

    {% if paginate.next %}
      <span class="next mobile_hidden">{{ paginate.next.title | link_to: paginate.next.url }}</span>
      <span id="next" class="paginate_bottom">{{ paginate.next.title  | link_to: paginate.next.url }}</span>
    {% else %}
      <span class="next disabled mobile_hidden"><a href="#" onclick="return false;">{{ 'layout.pagination.next_html' | t }}</a></span>
      <span class="disabled paginate_bottom" id="next"><a href="#" onclick="return false;">{{ 'layout.pagination.next_html' | t }}</a></span>
    {% endif %}    
    
  <p class="paginate_num_showing mobile_hidden">
  {{ 'layout.pagination.numbering' | t }} {{ paginate.current_offset | plus: 1 }} - {% if paginate.next %}{{ paginate.current_offset | plus: paginate.page_size }}{% else %}{{ paginate.items }}{% endif %} {{ 'layout.pagination.numbering_of' | t }} {{ paginate.items }}
  </p>
           
   <p id="pagination" class="hidden">{% if paginate.pages != 0 %}      
       {{ 'general.breadcrumbs.page' | t: current_page: paginate.current_page, pages: paginate.pages }}
      {% endif %}
   </p>

  </div>
  </div>

{% endif %}