{% if paginate.pages > 1 %}
  <div class="{% if pagination %}twelve{% else %}sixteen{% endif %} columns">
  <div class="section clearfix">
  <div class="pagination">
  
    {% if paginate.previous %}
    <span class="prev">{{ paginate.previous.title | link_to: paginate.previous.url }}</span>
    {% else %}
      <span class="prev disabled"><a href="#" onclick="return false;">{{ 'layout.pagination.previous_html' | t }}</a></span>
    {% endif %}
    
    {% for part in paginate.parts %}
      {% if part.is_link %}
        <span>{{ part.title | link_to: part.url }}</span>
      {% else %}
        {% if part.title == '&hellip;' %}
        <span class="ellipsis disabled"><a href="#" onclick="return false;">{{ part.title }}</a></span>
        {% else %}
        <span class="active">{{ part.title | link_to: part.url }}</span>
        {% endif %}
      {% endif %}
    {% endfor %}     

    {% if paginate.next %}
      <span class="next">{{ paginate.next.title | link_to: paginate.next.url }}</span>
    {% else %}
      <span class="next disabled"><a href="#" onclick="return false;">{{ 'layout.pagination.next_html' | t }}</a></span>
    {% endif %}    
  


  <p class="pagination-num-showing">
  {{ 'layout.pagination.numbering' | t }} {{ paginate.current_offset | plus: 1 }}-{% if paginate.next %}{{ paginate.current_offset | plus: paginate.page_size }}{% else %}{{ paginate.items }}{% endif %} {{ 'layout.pagination.numbering_of' | t }} {{ paginate.items }}
  </p>
  </div>
  </div>
  </div>
{% endif %}
