{% assign count = 0 %}
  {% for collection in collections %}
      {% unless collection.handle contains 'food-court' %}
      {% assign find=true %}
      {% for tag in current_tags %}
         {% unless collection.all_tags contains tag %} 
           {% assign find = false %}
      	 {% endunless %}
      {% endfor %}
      {% unless find == false %}
      {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
  
    <div class="twelve columns restaurant">
    <a href="{{ collection.url }}" title="{{ collection_title }}">
    <div class="three columns omega thumbnail mobile_hidden">
       {% if collection.image %}
        <img src="{{ collection.image.src | collection_img_url: 'grande' }}" alt="{{ collection.image.alt }}" style="margin-bottom:0px"/>
      {% else %}
        <img src="{{ collection.products.first.featured_image | product_img_url: 'grande' }}" alt="{{ collection.title | escape }}" style="margin-bottom:0px"/>
      {% endif %}    
    </div>
      
      {% assign restaurant_info = collection.description | split:"--" %}
      {% assign restaurant_address = restaurant_info[0] | strip_html |strip  %}
      {% assign restaurant_map = restaurant_info[1] | strip_html |strip %}
    <div class="six columns">
     <div class="mobile_only resimg" >
      {% if collection.image %}
        <img src="{{ collection.image.src | collection_img_url: 'grande' }}" alt="{{ collection.image.alt }}" />
      {% else %}
        <img src="{{ collection.products.first.featured_image | product_img_url: 'grande' }}" alt="{{ collection.title | escape }}" />
      {% endif %}
      </div>
      <div class="resinfo">
      <label class="fc_vendor_title">{{collection.title}}</label>
      <p>{{ restaurant_address }}</p>
      </div>
    </div>
      <div class="three columns alpha thumbnail mobile_hidden">
       <iframe src="{{ restaurant_map }}" width="205px" height="205px" frameborder="0" style="border:0"></iframe> 
    </div></a>
    <br />
    </div>
  
     {% assign count = count | plus:1 %}
      {% endunless%} 
      
  	 {% endunless %}  
  {% endfor %}
    
      {% if count == 0 %}
       <p class="fc_p">It seems the well of options has run dry.</p>
       <p class="fc_p">If you want to dial back your search criteria, we'll find you some food.</p>
      {% endif %}
