
<script>
$(function(){
$(window).scroll(function(){
    if($(window).scrollTop()<100 && $(".sidebar").css("position")=="fixed"){
        $(".sidebar").css({"position":"absolute","top":"100px"});
    }
    if($(window).scrollTop()>=($(".header").height()+$(".content").height()-$(".sidebar").height())&&$(".sidebar").css("position")=="fixed"){     
        $(".sidebar").css({"position":"absolute","top":$(".content").height()-$(".sidebar").height()+"px"});
    }
    if($(window).scrollTop()<($(".header").height()+$(".content").height()-$(".sidebar").height())&&$(window).scrollTop()>=40&&$(".sidebar").css("position")=="absolute"){    
        $(".sidebar").css({"position":"fixed","top":"140px"});
    }
});
});
</script>



<div class="sidebar four columns">

    <h4 class="toggle">{{ collection.title }}</h4>
    <ul style="list-style-type:none; margin-left:0;" class="toggle_list">
    
   <!-- new siderbar method read from types not complete yet-->   
       {% comment %}  
     {% if collection.all_types %}
          {% if product_type == collection.title %}
        {% for product_type in shop.collection.all_types %}
        <li>{{ product_type | link_to_type}}</li>
            {% endfor %}
      
      {% else %}
      {% for product_type in collection.all_types %}
        <li>{{ product_type | link_to_type}}</li>
            {% endfor %}
       {% endif %}

     {% endif %}
         {% endcomment %}  
  

  <!-- new siderbar method read from tags-->  
      
      {% for tag in collection.all_tags %}
        {% assign nofilter = false %}
        {% assign nofiltertags = settings.no_filter_tag | spilt: ','%}
        {% for nofiltertag in nofiltertags %}
          {% if tag == nofiltertag %}
             {% assign nofilter = true %}
          {% endif%}
        {% endfor %}
      {% unless nofilter %}
           <li><a href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}" title="{{ tag | escape }}">{{ tag }}</a></li>
      {%endunless%}
      {% endfor %}
      

  <!-- old siderbar -- use fixed sidebar list-->    

  {% comment %} 
  {% assign handle = collection.title %}
  {% case handle %}
  {% when 'Chinese Products' %}     
     {% for link in linklists.chinese-products.links %}
         <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
     {% endfor %}    
  {% when 'Taiwan Products' %}
     {% for link in linklists.taiwan-products.links %}
         <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
     {% endfor %}
  {% when 'Korea Products' %}
      {% for link in linklists.korea-products.links %}
         <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
     {% endfor %}
  {% when 'Japanese Products' %}
      {% for link in linklists.japanese-products.links %}
         <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
     {% endfor %}
  {% when 'European Products' %}
      {% for link in linklists.european-products.links %}
         <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
     {% endfor %}    
   {% when 'Southeast Asian Products' %}
      {% for link in linklists.southeast-asian-products.links %}
         <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
     {% endfor %}

   {% when 'Other Products' %}
      {% for link in linklists.other-products.links %}
         <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
      {% endfor %}
   {% else %}
       {% for link in linklists.chinese-products.links %}
         <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
     {% endfor %}
    {% endcase %}
    {% endcomment %}
    </ul>  
</div>