

<div class="four columns fc_main omega alpha">  
 <div class="fc_tab_nav mobile_hidden">
    <h4 class="fc_menu">I'm hungry for... </h4>
    <ul id="tab">
	<li class="nav_current" id="nav1">Asian Style Food</li> | 
	<li class="nav_link" id="nav2">Western Style Food</li>
	</ul>
    <ul class=" fc_nav_dis type_filter" id="sub1">
      <li><input type='radio' id="asian" value="asian" name="s_type" {%if current_tags contains 'Asian' %} checked {% endif %}/><label for="asian">All Asian</label></li>   
      {% for product in collections['asian-style-food-court'].products %}
      	 {% if product.tags contains location %}
      		{% assign type = product.type %}
      		{% assign tag = type | handleize %}
      		{% unless tags contains tag %}
      		{% if current_tags contains type %}
      <li><input type='radio' id="{{type}}" value="{{ tag }}" checked  name="s_type"  /><label for="{{ type }}">{{ type }}</label> </li> 
      		{% assign tags = tags | append: tag | append:"," %}
        	{% else %}
      <li><input type='radio' id="{{type}}"  value="{{ tag }}" name="s_type" /><label for="{{ type }}">{{ type }}</label></li>
      		{% assign tags = tags | append: tag | append:"," %}
        	{% endif %}
      		{% endunless %}
         {% endif %}
      {% endfor %} 
 	</ul>
     <ul class="fc_nav_undis type_filter"  id="sub2">
       <li><input type='radio' id="western" value="western" name="s_type" {%if current_tags contains 'Western' %} checked {% endif %}/><label for="western">All Western</label></li>   
            {% for product in collections['european-style-food-court'].products %}
      	 {% if product.tags contains location %}
      		{% assign type = product.type %}
      		{% assign tag = type | handleize %}
      		{% unless tags contains tag %}
      		{% if current_tags contains type %}
       <li><input type='radio' id="{{type}}" value="{{ tag }}" checked  name="s_type"  /><label for="{{ type }}">{{ type }}</label> </li> 
      		{% assign tags = tags | append: tag | append:"," %}
        	{% else %}
       <li><input type='radio' id="{{type}}" value="{{ tag }}" name="s_type" /><label for="{{ type }}">{{ type }}</label></li>
      		{% assign tags = tags | append: tag | append:"," %}
        	{% endif %}
      		{% endunless %}
         {% endif %}
      {% endfor %}
   </ul>
  </div>
  
 <div class="fc_tab_nav">
  <label class="fc_menu mobile_only">I'm hurry for:</label>
  <select id="type_picker" class="mobile_only">
  <optgroup label="Asian Style Food">
  <option value="asian" {%if current_tags contains 'Asian' %} selected {% endif %}>All Asian Style Food</option>
 	 {% for tag in collection.all_tags %}
     {% if collections['asian-style-food-court'].all_types contains tag %}
        	{% if current_tags contains tag %}
        	<option value="{{tag | handle }}" selected>{{ tag }}</option>
        	{% else %}
        	<option value="{{tag | handle }}">{{ tag }}</option>
        	{% endif %}
      {% endif %}
      {% endfor %}
  </optgroup>
  <optgroup label="Western Style Food">
  <option value="western" {%if current_tags contains 'Western' %} selected {% endif %}>All Western Style Food</option>
	 {% for tag in collection.all_tags %}
     {% if collections['european-style-food-court'].all_types contains tag %}
        	{% if current_tags contains tag %}
        	<option value="{{tag | handle }}" selected>{{ tag }}</option>
        	{% else %}
        	<option value="{{tag | handle }}">{{ tag }}</option>
        	{% endif %}
      {% endif %}
      {% endfor %} 
   </optgroup>
  </select>
  <h4 class="fc_menu mobile_hidden">Promotion Only</h4>
   <ul>
     <li><input type='checkbox' id='radio_pro' value="promotion" {% if current_tags contains "promotion" %} checked {% endif %}   name="s_promotion"  /><label for="radio_pro">Show Promotion Only</label></li>
  </ul>
  <h4 class="fc_menu mobile_hidden">Change View</h4>
   <ul>
     <li><input type='radio' id='radio_cuisine' value="food-court" {% if collection.handle == "food-court" %} checked{% endif %}  name="s_view"  /><label for="radio_cuisine">Cuisine View</label></li>
     <li><input type='radio' id='radio_res' value="food-court-res" {% if collection.handle ==  "food-court-res" %} checked {% endif %}  name="s_view"  /><label for="radio_res">Restaurant View</label></li>
  </ul>
</div>
</div>