<div class="sixteen columns fc_sidebar">
  <h1>Order Food Online From Local Restaurants</h1>
  <div class="sixteen columns fc_sidebar_content">
     <div class="four columns offset-by-four">
     	<label>City: </label>
            {% for tag in collection.all_tags %}      
      			{% if tag contains "-" %}
       				{% assign locations = locations | append: tag | append: "," %}
      				{% assign city = tag | split:"-" %}
                    {% assign cities = cities | append:city.first | append:"," %}
     			{% endif %}
    		{% endfor %}
            {% assign cities = cities | split: "," | uniq %}   
    	<select class="city-picker">
      	  <option value="">All</option>
          {% for city in cities %}
		  <option value="{{ city }}"> {{ city  }} </option>
          {% endfor %}
    	</select>
      </div>

      <div class="four columns">
         <input type="hidden" value='{{locations}}' name="location">
         <label>{{ 'collections.sidebar.location' | t }}: </label>
    	 <select class="coll-filter" id="suburb">
      		<option value="">All</option>
         </select>
      </div>  
    {% comment %}    
    <div class="four columns">
    <label>{{ 'collections.sidebar.type' | t }}: </label>
    <select class="coll-filter">
      <option value="">All</option>
      {% for tag in collection.all_tags %}
        {% if collection.all_types contains tag %}
        {% if current_tags contains tag %}
          <option value="{{ tag | handle }}" selected>{{ tag }}</option>
        {% elsif collection.tags contains tag %}
          <option value="{{ tag | handle }}">{{ tag }}</option>
        {% endif %}
      {% endif %}
      {% endfor %}
    </select> 
    </div>
     {% endcomment %}  
     </div>

    <div class="sixteen columns fc_sidebar_content">  
      <div class="four column offset-by-four"><input type='radio' value="food-court" checked="checked"  name="view"  /><label>Cuisine View</label></div>
      <div class="four column"><input type='radio' value="food-court-res"   name="view"  /><label>Restaurant View</label></div>
      <div class="four column"><input type='checkbox' value="promotion"   name="promotion"  /><label>Show Promotion Items Only</label></div>
     </div>
  	<div class="sixteen columns fc_sidebar_content">
       <a class="action_button disabled" id="foodsearch">Search Restaurants</a>
    </div>  
  </div>