<div class="four columns fc_main omega alpha">
  <div>
     Search:<input type="text" id="keyword" />
	<a class="action_button" id="ressearch">Search</a>
    <input type="hidden" id="col" value="{{ collection.title }}">
  </div>
  <div class="mobile_only">    
  Menu:
   <select class="type">
           <option value="/collections/{{ collection.handle }}" selected>All</option> 
 		{% for product_type in collection.all_types %}
     		{% if current_tags contains product_type %}
     	    <option value="/collections/{{ collection.handle }}/{{ product_type | handleize }}" selected>{{ product_type }}</option> 
     		{% else %}
    		<option value="/collections/{{ collection.handle }}/{{ product_type | handleize }}">{{ product_type }}</option> 
     		{% endif %}
		{% endfor %}    
   </select>
  </div>
  <div class="mobile_hidden">
   <h4>Menu</h4>
   <ul>   
      {% for product_type in collection.all_types %}
          <li><a href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ product_type | handleize }}" title="{{ product_type | escape }}">{{ product_type }}</a></li>
      {% endfor %}
  </ul>
</div>
</div>