<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta name="robots" content="index,follow">
      
    {% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %}{% endif %}       
    <title>{% if template contains "index" %}{{ page_title }}{% else %}{{ page_title }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}{% endif %}{% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}{% endif %}</title>
    
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}

    {% include 'social-meta-info' %}

    {% if collection.previous_product %}
      <link rel="prev" href="{{ collection.previous_product }}">
    {% endif %}
    {% if collection.next_product %}
      <link rel="next" href="{{ collection.next_product }}">
    {% endif %}

    <!-- Mobile Specific Metas -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 

    <!-- Stylesheets -->
    {{ 'styles.css' | asset_url | stylesheet_tag }}
    <!--[if lte IE 9]>
      {{ 'ie.css' | asset_url | stylesheet_tag }}
    <![endif]-->
    <!--[if lte IE 7]>
      {{ 'lte-ie7.js' | asset_url | script_tag }}
    <![endif]-->

    <!-- Icons -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
    <link rel="canonical" href="{{ canonical_url }}" />

    <!-- Custom Fonts -->
    <link href="//fonts.googleapis.com/css?family=.|{% if settings.logo_typeface_method == "google_webfonts" %}{{ settings.logo_google_webfont_font }}:light,normal,bold|{% endif %}{% if settings.headline_typeface_method == "google_webfonts" %}{{ settings.headline_google_webfont_font }}:light,normal,bold|{% endif %}{% if settings.nav_typeface_method == "google_webfonts" %}{{ settings.nav_google_webfont_font }}:light,normal,bold|{% endif %}{% if settings.regular_typeface_method == "google_webfonts" %}{{ settings.regular_google_webfont_font }}:light,normal,bold{% endif %}" rel="stylesheet" type="text/css" />
    
    {% if template contains 'customer' %}
      {{ "shopify_common.js" | shopify_asset_url | script_tag }}
      {{ "customer_area.js"  | shopify_asset_url | script_tag }}
      <!--[if lt IE 7]>
        {{ 'json2.js' | shopify_asset_url | script_tag }}
      <![endif]-->
    {% endif %}

    <!-- jQuery and jQuery fallback -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='{{ "jquery.min.js" | asset_url }}'>\x3C/script>")</script>
    {{ 'app.js' | asset_url | script_tag }}
    {% if settings.product_slideshow_animation == 'zoom' %}{{ "cloudzoom.js" | asset_url | script_tag }}{% endif %}
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}        
    {{ content_for_header }}
</head>
<body class="{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
	<div class="header">
		<div class="header-top-nav">
  		<div class="container"> 
  		<ul>
  		  {% if settings.show_multiple_currencies %}
  		    <li>
  		      {% include 'currencies-switcher' %}
  		    </li>
  		  {% endif %}
  		  {% if customer.name == blank %}

  		  <li>{{settings.customer_welcoming_text}}
  		    <a href="/account/register">start from here.</a> 
  		  </li>
  		  <li> | </li>
  		  <li> <a href="/account/login">Log In</a> </li>
  		  {% else%}
        <li>
          {{ 'layout.customer.log_out' | t | customer_logout_link }}
        </li>
        <li> | </li>
  		  <li>
  		  {{settings.customer_welcoming_text}}<a href="/account">{{customer.name}}!</a>
  		  </li>
  		  {% endif%}
  		  
  		  {% if shop.customer_accounts_enabled %}
  		    <li>
  		      <a href="/account" title="{{ 'layout.customer.my_account' | t }} {% if customer %}({{ customer.email }}){% endif %}" class="icon-user"></a>
  		    </li>
  		  {% endif %}
  		 </ul>
  		</div>
		</div>
		<div class="container nav-container"> 
		  <div class="column logo">
		    <a href="{{ shop.url }}" title="{{ shop.name }}">
		      {% if settings.use_logo %}
		        <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" data-src="{{ 'logo.png' | asset_url }}" {% if settings.use_logo_home %}data-src-home="{{ 'logo_home.png' | asset_url }}"{% endif %} />
		      {% else %}
		        {{ shop.name }}
		      {% endif %}
		    </a>
		  </div>
		<!-- Wide browser menu Starts-->
		  <div class="columns customer-welcome">
		    | {{customer_page_title}}
		  </div>
		</div>
	</div>
  <div class="customer-container">


	{{ content_for_layout }}
  </div>



</body>